<mat-card>
  <form (submit)='onAddPost(postForm)' #postForm='ngForm'>
    <mat-form-field>
      <input matInput type="text" placeholder="Enter title of the Post" ngModel name='title' #title="ngModel" required>
      <mat-error *ngIf='title.invalid'>Please enter a post title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput rows="6" placeholder="Type a message" ngModel name='content' required #content="ngModel"></textarea>
      <mat-error *ngIf='content.invalid'>Please enter a post content</mat-error>
    </mat-form-field>
    <!-- Event Binding -->
    <button mat-raised-button color="primary" type="submit">Save Post</button>
  </form>
</mat-card>
